/*Layout*/
body {
	background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg, #ff4169, #7c26f8);/*as imagens se sobrepoem*/
				background-attachment: fixed;/*deixa a imagem de fundo fixa*/
}

/*Barra de navegação*/
nav.navbar-transparente {
	padding: 15px 0;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: white;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}